In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

import sys
sys.path.insert(1, '../')
from keys import mysql_password       # import passwords from local file (not pushed to github)

sql_engine = create_engine(f"mysql+pymysql://root:{mysql_password}@localhost:3306")
sql_engine.connect().execute(text("CREATE DATABASE IF NOT EXISTS nfl;"))
sql_engine = create_engine(f"mysql+pymysql://root:{mysql_password}@localhost:3306/nfl", pool_size=20, max_overflow=50)

In [22]:
years = "(2024)"

query = f""" 
WITH play_stats AS (
    SELECT
        p.play_id,
        p.game_id,
        p.sequenceNumber,
        p.homeScore,
        p.awayScore,
        p.quarter,
        TIME_TO_SEC(p.clock) AS clock_seconds,
        p.offenseAtHome,
        p.down,
        p.distance,
        p.yardsToEndzone,
        p.playtype_id,
        g.season,
        g.game_type,
        g.week,
        g.home_team_score,
        g.away_team_score,
		CASE 
            WHEN p.offenseAtHome = TRUE THEN g.standing_home_overall_win
            ELSE g.standing_away_overall_win
        END AS standing_offense_overall_win,
        CASE 
            WHEN p.offenseAtHome = TRUE THEN g.standing_home_home_win
            ELSE g.standing_away_home_win
        END AS standing_offense_home_win,
        CASE 
            WHEN p.offenseAtHome = TRUE THEN g.standing_home_road_win
            ELSE g.standing_away_road_win
        END AS standing_offense_road_win,
        CASE 
            WHEN p.offenseAtHome = TRUE THEN g.standing_home_overall_loss
            ELSE g.standing_away_overall_loss
        END AS standing_offense_overall_loss,
        CASE 
            WHEN p.offenseAtHome = TRUE THEN g.standing_home_home_loss
            ELSE g.standing_away_home_loss
        END AS standing_offense_home_loss,
        CASE 
            WHEN p.offenseAtHome = TRUE THEN g.standing_home_road_loss
            ELSE g.standing_away_road_loss
        END AS standing_offense_road_loss,
        CASE 
            WHEN p.offenseAtHome = FALSE THEN g.standing_home_overall_win
            ELSE g.standing_away_overall_win
        END AS standing_defense_overall_win,
        CASE 
            WHEN p.offenseAtHome = FALSE THEN g.standing_home_home_win
            ELSE g.standing_away_home_win
        END AS standing_defense_home_win,
        CASE 
            WHEN p.offenseAtHome = FALSE THEN g.standing_home_road_win
            ELSE g.standing_away_road_win
        END AS standing_defense_road_win,
        CASE 
            WHEN p.offenseAtHome = FALSE THEN g.standing_home_overall_loss
            ELSE g.standing_away_overall_loss
        END AS standing_defense_overall_loss,
        CASE 
            WHEN p.offenseAtHome = FALSE THEN g.standing_home_home_loss
            ELSE g.standing_away_home_loss
        END AS standing_defense_home_loss,
        CASE 
            WHEN p.offenseAtHome = FALSE THEN g.standing_home_road_loss
            ELSE g.standing_away_road_loss
        END AS standing_defense_road_loss,
        t1.abbreviation AS offenseAbr,
        t2.abbreviation AS defenseAbr,
		CASE 
            WHEN p.offenseAtHome = TRUE THEN (p.homeScore - p.awayScore)
            ELSE (p.awayScore - p.homeScore)
        END AS scoreDiff,
        (TIME_TO_SEC(p.clock) + (4 - p.quarter) * 15 * 60) AS totalTimeLeft
    FROM
        nfl.plays p
    LEFT JOIN nfl.games g ON p.game_id = g.game_id
    LEFT JOIN nfl.teams t1 ON 
        (p.offenseAtHome = TRUE AND g.home_team_id = t1.team_id) OR
        (p.offenseAtHome = FALSE AND g.away_team_id = t1.team_id)
    LEFT JOIN nfl.teams t2 ON 
        (p.offenseAtHome = TRUE AND g.away_team_id = t2.team_id) OR
        (p.offenseAtHome = FALSE AND g.home_team_id = t2.team_id)
	WHERE
        g.season IN {years}
),
play_aggregates AS (
    SELECT
        p1.game_id,
        p1.play_id,
        p1.sequenceNumber,
        -- Completion Rate Calculation
        (
            SELECT 
                COUNT(*) * 1.0 / NULLIF(
                    (SELECT COUNT(*) 
                     FROM nfl.plays p2 
                     WHERE p2.game_id = p1.game_id 
                     AND p2.sequenceNumber < p1.sequenceNumber 
                     AND p2.playtype_id IN (67, 51, 24, 3, 6, 26, 36)), 0
                )
            FROM nfl.plays p2
            WHERE p2.game_id = p1.game_id 
              AND p2.sequenceNumber < p1.sequenceNumber 
              AND (p2.playtype_id IN (67, 24)
				OR (p2.playtype_id = 51 AND p2.description NOT LIKE '%incomplete%')
			  )
        ) AS completionRate,
        -- Pass to Rush Ratio Calculation
        (
            SELECT 
                COUNT(*) * 1.0 / NULLIF(
                    (SELECT COUNT(*) 
                     FROM nfl.plays p2 
                     WHERE p2.game_id = p1.game_id 
                     AND p2.sequenceNumber < p1.sequenceNumber 
                     AND p2.playtype_id IN (5, 68)), 0
                )
            FROM nfl.plays p2
            WHERE p2.game_id = p1.game_id 
              AND p2.sequenceNumber < p1.sequenceNumber 
              AND p2.playtype_id IN (67, 51, 24, 3, 6, 26, 36)
        ) AS passToRushRatio
    FROM nfl.plays p1
	LEFT JOIN nfl.games g ON p1.game_id = g.game_id
    WHERE g.season IN {years}
)
SELECT ps.*, pa.completionRate, pa.passToRushRatio
FROM play_stats ps
JOIN play_aggregates pa ON ps.play_id = pa.play_id;
"""

In [23]:
data_df = pd.DataFrame(sql_engine.connect().execute(text(query)).fetchall())
data_df.dropna(subset=['offenseAtHome', 'playtype_id'], inplace=True)
data_df

,play_id,game_id,sequenceNumber,homeScore,awayScore,quarter,clock_seconds,offenseAtHome,down,distance,...,standing_defense_road_win,standing_defense_overall_loss,standing_defense_home_loss,standing_defense_road_loss,offenseAbr,defenseAbr,scoreDiff,totalTimeLeft,completionRate,passToRushRatio
0,40167149041,401671490,4100,0,0,1,900,0.0,0,0,...,0,3,2,1,WSH,CIN,0,3600,None,None
1,40167149067,401671490,6700,0,0,1,894,1.0,1,10,...,1,1,0,1,CIN,WSH,0,3594,None,None
2,40167149092,401671490,9200,0,0,1,855,1.0,2,9,...,1,1,0,1,CIN,WSH,0,3555,1.00000,None
3,401671490117,401671490,11700,0,0,1,814,1.0,3,1,...,1,1,0,1,CIN,WSH,0,3514,1.00000,None
4,401671490139,401671490,13900,0,0,1,779,1.0,1,10,...,1,1,0,1,CIN,WSH,0,3479,1.00000,2.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30454,4016718734017,401671873,401700,3,19,4,87,1.0,2,17,...,2,7,3,4,CHI,NE,-16,87,0.55357,1.03704
30455,4016718734037,401671873,403700,3,19,4,58,1.0,3,25,...,2,7,3,4,CHI,NE,-16,58,0.55357,1.03704
30456,4016718734050,401671873,405000,3,19,4,40,1.0,4,20,...,2,7,3,4,CHI,NE,-16,40,0.56140,1.05556
30457,4016718734062,401671873,406200,3,19,4,40,1.0,4,20,...,2,7,3,4,CHI,NE,-16,40,0.56140,1.05556
30458,4016718734097,401671873,409700,3,19,4,34,0.0,1,10,...,0,5,1,4,NE,CHI,16,34,0.56897,1.07407

In [19]:
playtype_mapping = {
    2: None, # End Period
    3: 'Pass', # incomplete
    5: 'Rush', 
    6: 'Pass', # interception
    7: None, # Sack


}
data_df.loc[~(data_df['playtype_id'].isin(playtype_mapping.keys())),'playtype_id'].sort_values().unique()

array([ 5.,  7.,  8.,  9., 12., 17., 18., 20., 21., 24., 26., 29., 32.,
       36., 38., 39., 40., 51., 52., 53., 59., 60., 67., 68., 74., 75.])